@import './libs/vars';

.container{
    width: 100%;
    height: 100vh;
    position: absolute;

    .detailsWrap{
        width: 100%;

        // height: 30em;
        margin-top: 15vh;
        // background: pink;

        padding: 6vh 5%;
    }

    .posterWrap{
        max-width: 25%;
        margin-right: 5%;

        img{
            width: 100%;
        }
    }

    .movieDetails{
        width: 70%;
        padding: 1em 0;

        h2{
            font-size: 2.5em;
            font-weight: 600;
        }

        p{
            font-size: 1.5em;
        }
    }

    .titleWrap, .descriptionWrap{
        width: 100%;
        margin-bottom: 1em;
    }
    

    .leftWrap{
        width: 70%;
    }

    .rightWrap{
        width: 30%;
    }

    .starWrap{
        width: 3em;
        margin: 0.5em 0.15em;
    }

    .movieTitle{
        margin: 0.5em 0;
    }

}








//  RESPONSIVENESS //// //// //// //// //// //// //// ////
//  RESPONSIVENESS //// //// //// //// //// //// //// ////
//  RESPONSIVENESS //// //// //// //// //// //// //// ////


// MOBILE
@media screen and (min-width: 100px) and (max-width: 767px) and (orientation: portrait)  {
  
    .container{
    }
  
}

@media screen and (min-width: 100px) and (max-width: 767px) and (orientation: landscape){
    .container{
    }
} 





// IPAD
@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    .container{
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    .container{

    }
}
  
  
  



// 
@media screen and (min-width: 1024px) and (max-width: 1151px)  and (orientation: portrait)  {
    .container{
    }

}

// 
@media screen and (min-width: 1024px) and (max-width: 1151px)  and (orientation: landscape)  {
    .container{
    }

}



// 
@media screen and (min-width: 1152px) and (max-width: 1365px){

    .container{

        .posterWrap{
            max-width: 40%;
        }

        .movieDetails{
            width: 60%;

            h2{
                width: 70%;
                font-size: 3em;
                font-weight: 600;
            }
    
            p{
                font-size: 1.65em;
            }
        }


    }


}






// 
@media screen and (min-width: 1366px) and (max-width: 1339px){





}

@media screen and (min-width: 1440px) and (max-width: 1919px){

    .container{

        .posterWrap{
            max-width: 40%;
        }

        .movieDetails{
            width: 60%;

            h2{
                width: 70%;
                font-size: 3em;
                font-weight: 600;
            }
    
            p{
                font-size: 1.8em;
            }
        }


    }

}


@media screen and (min-width: 1920px) and (max-width: 6000px){

    .container{

        .posterWrap{
            max-width: 40%;
        }

        .movieDetails{
            width: 60%;

            h2{
                font-size: 3em;
                font-weight: 600;
            }
    
            p{
                font-size: 2em;
            }
        }
    }
}





//  RESPONSIVENESS //// //// //// //// //// //// //// ////
//  RESPONSIVENESS //// //// //// //// //// //// //// ////
//  RESPONSIVENESS //// //// //// //// //// //// //// ////