

@import "./libs/_vars";
@import "./libs/_mixins";

.container{
    width: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    

    nav{
        width: 100%;
        // padding: 1em;
        padding: 1em 5%;
    
        // @include flexCentreRow;
        justify-content: space-between;

        border-bottom: 0.2em solid $pureBlack;
    }


    .hide{
        display: none;
    }


        
    .navWrap{
        justify-content: space-between;
        height: 15vh;
        background: $pureWhite;
    }

    .innerWrap{
        width: 100%;
    }

    .menuItems{
        min-width: 35%;
    }



    .logoContainer{
        width: 7em;
        height: 4em;
    }

    .logoFlexWrap{
        width: 100%;
        height: 100%;

        a{
            width: 100%;
            height: 80%;
        }
    }

    .logo{
        width: 100%;
        // top: -0.5em;
        height: 100%;
    }






    .searchContainer{
        width: 100%;
        height: 100%;
        // background: yellow;
    }


    .searchIcon{
        width: 2em;
        margin-right: 1em;
    }


    .searchForm{
        width: 100%;
    }

    .searchField{
        width: 100%;
        padding: 0.8em 1em;
        border: 0.2em solid $darkGray;
    }

    .dropDown{
        width: 100%;
        border: 0.15em solid $pureBlack;
        top: 100%;
        // padding: 0.8em 0;
        background: $pureWhite;
        padding-top: 0.8em;

        max-height: 70vh;
        overflow-y: auto;
    }

    .previewSearches{
        margin: 0em 0.8em;
        
    }


    .previewMovie{
        // margin-bottom: 0.4em;
        cursor: pointer;

        &:hover{
            h2{
                text-decoration: underline;
                color: $highlightColor;
            }
        }

        margin: 0.5em 0;
    }

    .miniThumb{
        max-width: 20%;
    }

    .details{
        margin: 0.5em;;
    }

  



    
}





// 
@media screen and (min-width: 100px) and (max-width: 767px)  {
    .container{
        ul{
            margin: 25vh 0;
        }

        li{
            margin: 0;
            font-size: 2em;
        }
    }
}




// 
@media screen and (min-width: 768px) and (max-width: 1023px)  {

}






// 
@media screen and (min-width: 1024px) and (max-width: 1151px) {


//   h1{
//     font-size: 3em;
//   }

//   h2{
//     font-size: 2.5em;
//   }

//   li{
//     font-size: 2em;
//   }

    .container{
        .logoContainer{
        }
    }



    
}




// 
@media screen and (min-width: 1152px) and (max-width: 1439px){
    
    .container{


   
        .logo{
            top: -1em;
        }

        .logoContainer{
            width: 9.5em;
            height: 4.5em;
        }

        .searchIcon{
            width: 2.8em;
            margin-right: 2em;
        }

        .details{
            margin: 0.8em 1em;
        }

        .searchField{
            padding: 0.4em 1em;
        }
    }

}


// 
@media screen and (min-width: 1440px) and (max-width: 1919px){
    
    .container{


   
        .logo{
            top: -1em;
        }

        .logoContainer{
            width: 9.5em;
            height: 4.5em;
        }

        .searchIcon{
            width: 2.8em;
            margin-right: 2em;
        }

        .details{
            margin: 0.8em 1em;
        }

        .searchField{
            padding: 0.4em 1em;
        }
    }

}




// RESPONSIVITY
@media screen and (min-width: 1920px) and (max-width: 6000px){

    
 
    .container{


        nav{
            padding: 2em 5%;
        }

   
        .logo{
            top: -1em;
        }

        .logoContainer{
            width: 11.5em;
            height: 5.5em;
        }

        .searchIcon{
            width: 2.8em;
            margin-right: 2em;
        }

        .details{
            margin: 0.8em 1em;
        }
    }

    

}


